html{
    display: flex;
    justify-content: center;
}

form{
    margin: 30px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 30px 5px rgb(116, 189, 223);
}
button{
    margin-top: 20px;
}
.Name{
    display: flex;
}
.phoneNumber{
    width: 70px;
}
